#statusbar {
    width: 20vw;
    height: 100vh;
    /* background-color: rgb(189, 189, 189); */
    box-shadow: -5px 0 5px -2px #E5E9F2;
}

#top {
    background-color: rgb(236, 236, 236);
    display: grid;
    grid-template-rows: 1fr 3fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
    ". . battery"
    "status_code status_code status_code";
}

#top p {
    margin: 0;
}

#battery {
    display: flex;
    align-items: center;
    float: right; 
    margin-bottom: 64px;
    grid-area: battery;
}

#battery img {
    width: 32px;
    margin-left: 16px;
    float: right;

}

#sensor_data {
    text-align: center;
    grid-area: status_code;
}

#sensor_data div {
    margin-bottom: 16px;
}

.sonar_data {
    display: flex;
    justify-content: space-around;
    margin-bottom: 164px;
}

.data {
    font-size: 40px;
}



/* -------------- BOTTOM -------------- */
#bottom {
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#bottom div {
    margin-bottom: 16px;
}

#bottom button {
    width: 150px;
    height: 35px;
    border: 1px solid black;
    border-radius: 10px;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    outline: none;
    background-color: transparent;
}

#bottom button:active {
    box-shadow: 0 0 8px rgb(161, 161, 161);
}

/* ---- SWITCHES ----- */
.switch {
    
}