#actions {
    width: 100%;
}

#actions_content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.quick_actions,
.move {
    margin: 0 10vw;
}

.quick_actions div {
    margin-bottom: 32px;
}

#actions h1 {
    margin-left: 64px;
    margin-bottom: 64px;
}


/* --------- MOVE --------- */
.move div {
    height: 100px;
    width: 100px;
    border: 1px solid red;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.up {
    grid-area: up;
}

.right {
    grid-area: right;
}

.down {
    grid-area: down;
}

.left {
    grid-area: left;
}

.move {
    width: 300px;
    height: 300px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
    ". up ."
    "left . right"
    ". down .";
}

/* #actions {
    margin: 20% auto 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#action_container {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#action_container img {
    margin-top: 16px;
    height: 50px;
}

#action {
    width: 60%;
    max-width: 300px;
    height: 132px;
    border: 1px solid black;
    border-radius: 10px;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    outline: none;
    background-color: transparent;
    margin: 32px 32px;
}

#button {
    width: 150px;
    height: 35px;
    border: 1px solid black;
    border-radius: 10px;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    outline: none;
    background-color: transparent;
}

#move_content input {
    width: 32px;
    height: 40px;
    display: flex;
    background-color: transparent;
    border: 1px solid rgb(142, 170, 209);
    border-radius: 50px;
    padding: 0 16px;
    margin-bottom: 32px;
    margin-left: 38px;
}

input:focus {
    outline: none;
}

#button:active {
    box-shadow: 0 0 8px rgb(161, 161, 161);
} */