#sidebar {
    height: 100vh;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 5px 0 5px -2px #E5E9F2;
}

#logo {
    height: 98px;
    margin-top: 32px;
}

#logo img {
    width: 40px;
}

.content img {
    width: 40px;
}

.navItems {
    list-style: none;
    padding: 0;
    margin-top: 250px;
}

.navItems li {
    text-align: center;
    list-style: none;
    text-decoration: none;
}

.navItems li p {
    color: black;
}

.navItem {
    width: 98px;
    padding: 1px 0;
    text-decoration: none;
}

.navItem:hover,
.navItem:active,
.navItem .active {
    background-color: #679CF6;
}