/* .App {
  display: flex;
}

#sections {
  width: 60%;
}  */


.App {
  /* text-align: center; */
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 98px 3fr 20vw;
  grid-template-areas:
  "sidebar section statusbar"
}

#sidebar {
  grid-area: sidebar;
} 

#section {
  grid-area: section;
} 

#statusbar {
  grid-area: statusbar;
}
